@model ClinicCreateVM

@{
    ViewData["Title"] = "Create";

}

<h3>Add Clinic</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("_ClinicFieldsPartial", Model)

            <input type="hidden" asp-for="ClinicLocation.KeyId" />
            <input type="hidden" asp-for="ClinicLocation.X" id="lng" />
            <input type="hidden" asp-for="ClinicLocation.Y" id="lat" />
            <div id="map" style="height: 500px; width: 600px;" class="bg-danger mt-3"></div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <input asp-for="doctorId" hidden />
        </form>
    </div>
</div>

<div class="mt-1">
    <a asp-action="GetDoctorClinics" asp-route-doctorId="@Model.doctorId">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            $("#SelectedCityId").change(function () {

                var CityId = $(this).val(); // Get selected category ID
                if (CityId) {
                    $.ajax({
                        url: '/Clinic/GetRegions',
                        type: 'GET',
                        data: { CityId: CityId },
                        success: function (response) {
                            var RegionDropdown = $("#SelectedRegionId");
                            RegionDropdown.empty(); // Clear existing options
                            RegionDropdown.append('<option value="">Select a region</option>');
                            // Populate the product dropdown
                            $.each(response, function (index, region) {
                                RegionDropdown.append(
                                    $('<option></option>').val(region.id).text(region.name)
                                );
                            });

                        },
                        error: function (xhr, status, error) {
                            alert("Error fetching region: " + error);
                        }
                    });
                } else {
                    $("#SelectedRegionId").empty().append('<option value="">Select a region</option>');
                }
            });
        });

        function initMap() {
            var lat = @Model.ClinicLocation.Y;
            var lng = @Model.ClinicLocation.X;

            if (lat == 0 || lng == 0) {
                lat = 30.0444;
                lng = 31.2357;
            }

            var myCenter = new google.maps.LatLng(lat, lng);

            var mapProp = {
                center: myCenter,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
                map: map,
                draggable: true
            });

            google.maps.event.addListener(map, "click", function (event) {
                marker.setPosition(event.latLng);
                updateLatLngInputs(event.latLng);
            });

            marker.addListener("dragend", function () {
                updateLatLngInputs(marker.getPosition());
            });

            function updateLatLngInputs(location) {
                document.getElementById("lat").value = location.lat();
                document.getElementById("lng").value = location.lng();
            }
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@Model.ClinicLocation.KeyId&callback=initMap" defer></script>
}