@model ClinicCreateVM

@{
    ViewData["Title"] = "Create";
    
}

<h3>Add Clinic</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("_ClinicFieldsPartial", Model)
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <input asp-for="doctorId" hidden />
        </form>
    </div>
</div>

<div class="mt-1">
    <a asp-action="GetDoctorClinics" asp-route-doctorId="@Model.doctorId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            $("#SelectedCityId").change(function () {
  
                var CityId = $(this).val(); // Get selected category ID
                if (CityId) {
                    $.ajax({
                        url: '/Clinic/GetRegions',
                        type: 'GET',
                        data: { CityId: CityId },
                        success: function (response) {
                            var RegionDropdown = $("#SelectedRegionId");
                            RegionDropdown.empty(); // Clear existing options
                            RegionDropdown.append('<option value="">Select a region</option>');
                            // Populate the product dropdown
                            $.each(response, function (index, region) {
                                RegionDropdown.append(
                                    $('<option></option>').val(region.id).text(region.name)
                                );
                            });
                           
                        },
                        error: function (xhr, status, error) {
                            alert("Error fetching region: " + error);
                        }
                    });
                } else {
                    $("#SelectedRegionId").empty().append('<option value="">Select a region</option>');
                }
            });
        });
    </script>
}
