<div style="padding: 20px; background-color: #fff3cd; border: 1px solid #ffeeba; color: #856404;">
    <strong>Notice:</strong> Your account is currently under review.
      Please wait for the admin to verify your documents and activate your account.
</div>

<a asp-action="AfterDrRegisteration">go to edit your info</a>